/**
 * custom.scss
 */
// Put any custom css here.
// This file is @imported last.

// Previous and next links.
// Override Bootstrap button border-radius and link text color on hover.

.nav-previous,
.nav-next {
	border-radius: 20px;
  a:hover {
    color: #fff;
  }
}
// Hide text 'Search' above search box widget.
.assistive-text {
	display: none;
}

// Font Awesome icons and link text color. Add margin top and bottom.
.entry-meta {
	.far,
	.fas {
		color: #999;
	}
	a,
	a:link,
	a:visited,
	a:hover {
		color: #999;
	}
	margin: 1rem 0;
}

// Increase font size for content paragraphs.
.entry-content p {
	font-size: 1.25rem;
}

